@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  color-scheme: dark only;
  font-family: Manrope, Arial, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/***********************************************

    GLOBAL STYLES

***********************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  position: sticky;
  top: 20px;
  margin-bottom: 20px;
  z-index: 2;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  background-color: dodgerblue;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(10, 149, 241, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 1.5rem;
}
